<ion-header>
    <ion-toolbar>
      <ion-title class="title">Larger</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/larger-card-header.jpg"></ion-img>
      </ion-card-header>
  
      <ion-card-content>
        <ion-card-subtitle>Large</ion-card-subtitle>
        <ion-card-title>Large</ion-card-title>
        <p>Large</p>
      </ion-card-content>
    </ion-card>
    <ion-button color="danger" expand="full" href="/puro-malte" >Puro Malte</ion-button>
    <ion-button color="primary" expand="full" href="/pilsen">Pilsen</ion-button>
  </ion-content>