<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Adicione uma cerveja</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <ion-item>
      <ion-label color="success" position="floating">
        Nome da Cerveja
      </ion-label>
      <ion-input name="nome" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="success" position="floating">Descrição</ion-label>
      <ion-textarea name="descricao" ngModel>
      </ion-textarea>
    </ion-item>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          tipo
        </ion-list-header>
        <ion-item>
          <ion-label>Puro Malte</ion-label>
          <ion-radio slot="end" value=""></ion-radio>

        </ion-item>
      </ion-radio-group>
    </ion-list>
    <br />
    <ion-button type="submit" color="success">
      <ion-icon name="save"></ion-icon>
      Salvar
    </ion-button>
  </form>

  {{mensagem}}
</ion-content>