<ion-header>
    <ion-toolbar>
      <ion-title class="title">Pilsen</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/eisenbahn-card-header.jpg"></ion-img>
      </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>Pilsen</ion-card-subtitle>
      <ion-card-title>Pilsen</ion-card-title>
      <p>Pensou é Pilsen, Pilsen... pensou</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="danger" expand="full" href="/puro-malte" >Puro Malte</ion-button>
  <ion-button color="dark" expand="full" href="/lager">Lager</ion-button>
  
  </ion-content>