<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Duff Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Bem vindo ao app de cerveja mais famoso do Brasil.
  <br/>
  <br/>
  <h2>Conheça nossas cervejas</h2>


  <ion-button color="danger" expand="full" [routerLink]="['/puro-malte']" >Puro Malte</ion-button>
  <ion-button color="primary" expand="full" [routerLink]="['/pilsen']">Pilsen</ion-button>
  <ion-button color="dark" expand="full" [routerLink]="['/lager']">Lager</ion-button>

</ion-content>