<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Duff Store
    </ion-title>
    <ion-buttons [routerLink]="['/add-cerveja']" slot="primary">
      <ion-button>
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Bem vindo ao app de cerveja mais famoso do Brasil.
  <br />
  <br />
  <h2>Conheça nossas cervejas</h2>
  <br />
  <div *ngFor="let cerveja of cervejas">
    <ion-card>
      <ion-card-content>
        <h2>
          {{cerveja.nome}}
        </h2>
        <p>
          {{cerveja.descricao}}
        </p>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>